.note_edit_container {
    width: min(90%, 600px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    margin: 10vh auto;
    padding: 24px;

    background-color: #e8e196;
    border: 1px solid #757bf0;
    border-radius: 8px;
}

.note-edit-text {
    display: flex;
    justify-content: space-evenly;
}

.note-edit-btn {
    display: flex;
    justify-content: space-between;

    gap: 8px;

    margin-top: auto;
}

.note-edit-btn button{
    cursor: pointer;
}

.edit-type-btn button:not(.selectedType) {
    opacity: 0.55;
}

.edit-type-btn button.selectedType {
    border: 1px solid #757575;
    border-radius: 4px;
}